.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .counter {
    font-size: 2rem;
    text-align: center;
  }

  hr {
    margin-top: 30px;
    width: 90%;
    color: aliceblue;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 20px;
  }

  button {
    padding: 4px;
  }
}
